

body{
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#root{
  min-height:100vh ;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.box{
  background-color: rgb(128, 215, 236);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.box h1{
  margin-top: 0;

}

.box p{
  margin: 3rem;

}

.box button{
  background-color: blueviolet;
  color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  font-size: 15px;
  padding: 1rem ;
  cursor: pointer;
  transition: transform 0.1s linear
}

.box button:active{
transform: scale(0.97);

}

.box button:focus{
  outline: none;
}